html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* navBar */
.navbar {
  background: rgb(187, 56, 60);
  background: linear-gradient(
    90deg,
    rgba(187, 56, 60, 1) 46%,
    rgba(0, 0, 0, 1) 100%
  );
  color: white;
  font-size: 0.9vh;
  padding: 6px 6px;
  height: 10vh;
}
.navbar-logo img {
  height: 50px;
  width: 50px;
}
.nav-rows {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
.navbar-links {
  display: flex;
  flex-direction: row;
}
.links-container {
  display: flex;
  gap: 10px; /* Espacio entre enlaces */
}
.navbar-links a {
  color: white;
  text-decoration: none;
}
.navbar-links a:hover {
  font-size: 50%;
  color: black;
}
.navbar-social {
  display: flex;
  gap: 20px;
  margin-left: auto;
  align-items: start;
}
.social-icon {
  background-color: #fff;
  color: #333;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: block;
  align-items: start;
  justify-content: center;
  text-decoration: none;
}
.social-icon:hover {
  background-color: red;
}

/* bloque 2 -  Servicios */
.bloque2 {
  background-color: gray;
}

.servicios {
  /* width: 70%; */
  margin: 0 auto; /* Centrar horizontalmente */
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center; /* Ajustar el contenido al centro */
  align-items: center; /* Centrar verticalmente */
  justify-items: center;
}

.link-imagen {
  background-color: #2e2829;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  display: flex;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  justify-content: center; /* Ajustar el contenido al centro */
  align-items: center; /* Centrar verticalmente */
  text-align: center;
  flex-direction: column;
  transition: 0.3s;
}

.link-imagen h3,
.tablas-promos h3 {
  color: white;
  font-family: "Segoe Script";
  padding-bottom: 10px;
}

.servicios img {
  width: 80%;
}

/* bloque 3 -  Precios y Promociones */

.promociones {
  /*   width: 70%;*/
  margin: 0 auto; /* Centrar horizontalmente */
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center; /* Ajustar el contenido al centro */
  align-items: center; /* Centrar verticalmente */
}

.tablas-promos {
  background-color: #2e2829;
  width: 750px;
  height: 250px;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  text-align: center;
  transition: 0.3s;
}

.bloque3 {
  background-color: #ccc; /* Fondo gris */
  background-image: url("img/logo-blanco.png");
  background-repeat: repeat; /* Repetir la imagen en el fondo */
  background-position: center; /* Centrar la imagen */
  background-blend-mode: darken;
}

.servicios .link-imagen:hover,
.promociones .tablas-promos:hover {
  background-color: #75040c;
}
