html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0px;
  padding: 0px;
}
body{
  background-color: #C9C9C9;
}
.navbar {
  height: 170px;
  background-image: linear-gradient(-90deg, #111111, #bf0005);
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: "Montserrat";
  position: relative;
}
.navbar-logo img {
  margin-left: 15px;
  margin-top: 15px;
  width: 150px;
}

.navbar-links {
  display: flex;
  padding-bottom: 15px;
  float: left;
  align-items: flex-end; /* Alinea los enlaces hacia abajo */
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 20px;
  padding-right: 20px;
}
.navbar-links ul {
  float: left;
  list-style: none;
  gap: 25px; /* Espacio entre enlaces */
}

.navbar-links ul li {
  float: left;
  padding-left: 15px;
}
.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1.5vw; /* Tamaño proporcional al viewport width */
}

.navbar-links a:hover {
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

.navbar-social {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 10px;
  padding-top: 15px;
}

.social-icon {
  padding-right: 10px;
  float: right;
  color: white;
  display: flex;
  align-items: start;
  justify-content: center;
  text-decoration: none;
}

.social-icon i {
  font-size: 22px;
}

.social-icon:hover {
  color: red;
}

.servicios {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
.servicios a {
  text-decoration: none;
  color: white;
}

@media (max-width: 991px) {
  .testimonios {
    width: 90% !important;
  }
  .servicios {
    width: 90%;
  }
  .link-imagen h3 {
    font-size: 19px;
  }
}
@media (max-width: 576px) {
  .navbar {
    height: 100px;
  }
  .navbar-logo img {
    margin-left: 5px;
    margin-top: 5px;
    width: 100px;
  }
  .servicios {
    width: 90%;
    display: block;
    clear: left;
    clear: right;
  }
  .link-imagen {
    margin: 0px;
    clear: left;
    clear: right;
    margin-bottom: 10px;
  }
  .link-imagen h3 {
    font-size: 33px;
  }
}

.link-imagen {
  background-color: #2e2829;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  text-align: center;
  transition: 1s;
}

.link-imagen h3 {
  color: white;
  font-family: "Segoe Script";
  font-size: 22px;
  padding-bottom: 10px;
}

.servicios img {
  width: 80%;
}
.servicios .link-imagen:hover {
  background-color: #75040c;
}

.testimonios-fondo {
  margin-top: 50px;
  width: 100%;
  height: 550px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/foto-parallax.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonios {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  justify-content: space-between;
}
.testimonios h3 {
  text-align: center;
  margin-bottom: 5px;
  font-size: 50px;
  color: white;
  font-family: "Segoe Script";
}
.t {
  width: 30%;
  height: 382px;
  margin-left: 11px;
  margin-right: 11px;
  padding: 30px;
  background-color: #ededed;
  box-shadow: 6px 6px 12px -5px rgb(26, 25, 25);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  text-align: center;
  font-family: "montserrat";
  float: left;
}
.t h4 {
  font-family: "BIZ UDPMincho", serif, "Cinzel", "Coustard", serif;
  height: 80px;
  font-size: 100px;
  color: #8c888a;
}
.t img {
  width: 60%;
  border-radius: 100%;
}

/* BLOQUE 3 - PROMOCIONES */
/* bloque 3 -  Precios y Promociones */

.bloque3 {
  background-image: url("../img/Fondo-claro.png");
  background-size: contain;
}

.promociones {
  width: 70%;
  margin: 0 auto; /* Centrar horizontalmente */
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center; /* Ajustar el contenido al centro */
  align-items: center; /* Centrar verticalmente */
}

.tablas-promos h3 {
  color: #fff;
  padding-bottom: 10px;
  font-size: 1.7vh;
  max-width: 80%;
  text-align: center;
}
.tablas-promos {
  background-color: #ededed;
  width: 90vw;
  height: 35vh;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  transition: 0.3s;
}

.tablas-promos h3 {
  color: #75040c;
}

.servicios .link-imagen:hover,
.promociones .tablas-promos:hover {
  background-color: #75040c;
  font-size: 2vh;
  color: #fff;
}

.tablas-promos:hover h3,
.tablas-promos:hover th {
  color: #fff;
  font-size: 2vh;
}

.tablas-styles {
  font-size: 1.5vh;
  text-align: top;
  align-items: center;
}

.tablas-styles td {
  vertical-align: top;
}

.tablas-styles th {
  color: #75040c;
  font-size: 1.7vh;
}

/* FOOTER */
.footer {
  height: 170px;
  background-image: linear-gradient(-90deg, #bf0005, #111111);
  display: flex;
  color: white;
  font-family: "Montserrat";
  position: relative;
}

.footer .logof img {
  margin-left: 15px;
  margin-top: 15px;
  width: 150px;
}

.footer .informacion {
  text-align: center;
  display: flex;
  align-items: flex-end;
  margin-bottom: 25px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 100px;
}

/* bloque 4 -  Carrousel */

#bloque4 {
  background-color: #c9c9c9;
  flex-direction: row;
  padding-bottom: 2vh;
  padding-top: 2vh;
}

.carrusel {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.carrusel-imagenes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.carrusel-imagenes img {
  width: 18%;
  height: auto;
  margin-bottom: 12px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-right: 2%;
}

.carrusel-imagenes img:last-child {
  margin-right: 0; /* Eliminar el margen derecho de la última imagen */
}

.carrusel-imagenes img:nth-child(3) {
  width: 20%;
}

.carrusel-botones {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-symbols-outlined {
  font-size: 24px;
  vertical-align: middle;
  color: #bf0005; /* Color del ícono */
  margin: 0 5px;
}

#boton-anterior,
#boton-siguiente {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

/*PÁGINA 2*/
/*Slider*/

.slider{
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  height: 450px;
  background-image: linear-gradient(90deg,#2C2324, rgba(0, 0, 0, 0)),
    url("../img/slider-manicura.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:#C9C9C9;
}

.titulo-slide{
  width: 50%;
}
.slider .titulo-slide h1{
  font-size: 50px;
  margin-top: 3%;
  line-height:10dvh;
  font-family: "Montserrat black";
  text-shadow: 4px 3px 15px #2C2324;
}

.slider .titulo-slide h4{
  font-size: 18px;
  font-family: "Montserrat";
}

/*Articulo manicura*/
.manicura{
  width: 80%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}
.row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.foto-m {
  width: 90%;
  height: 300px;
  transition: 1s;
}
.manicura img {
  object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    transition: .5s ease-in-out;
}
.foto-m:hover {
  filter: opacity(.5);
}
.info-m{
  width: 90%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 5%;
  padding-left: 5%;
  color: #2E2829;
  font-family: "Montserrat";
  font-size:1.5vw; 
  line-height:5dvh; 
}
.info-m h4{
  font-family: "Segoe Script";
  font-size: 1.8vw;
  padding-bottom: 10px;
  text-align: center;
}